@model List<Klinik.Utils.DataBase.Products.Product>
@foreach (var prod in Model)
{
    <tr>
        <td><input type="checkbox" class="checkbox" id="checkbox" value="@prod.Id" /></td>
        <td>
            <div class="prod_info">
                <h3>@prod.Title</h3>
                @if (prod.Image != null)
                {
                    <img src="@Url.Content(prod.Image.Url + prod.Image.FileName)" width="100" height="100" alt="" />
                }
            </div>
        </td>
        <td>
            @prod.Description
        </td>
        <td>
            <div class="edit_del">
                <form method="LINK" action="/cabinet/service/detail/@prod.Id">
                    <button>Редактировать</button>
                </form>
                <pre> </pre>
                <pre> </pre>
                <button onclick="deleteProducts([@prod.Id])">Удалить</button>
            </div>
        </td>
    </tr>
}


