<div class="header">
    <div class="logo">
        <a href="/"><img src="~/Content/images/logo2.png"></a>
    </div>
    <div class="adres">
        <p>Тел. <a href="tel:+380487092709">+380 (48) 709–27–09</a></p><pre> </pre><pre> </pre>
        <p>Тел. <a href="tel:+380971585532">+380 97–158–55–32</a></p><pre> </pre> <pre> </pre>
        <p>Одесса, ул. Малая Арнаутская, 64.</p>
    </div>
    <div class="clr"></div>
    @if (ViewBag.NavMenuEnabled)
    {
        <nav class="codrops-demos" id="menu">
            <div class="d"><a href="#about_us" class="anchor">О нас</a></div>
            <div class="d"><a href="#services" class="anchor">Услуги</a></div>
            <div class="d"><a href="#prices" class="anchor">Прайс</a></div>
            <div class="d"><a href="#doctors" class="anchor">Наши доктора</a></div>
            <div class="d"><a href="#feedbacks" class="anchor">Отзывы</a></div>
            <div class="d"><a href="#contacts" class="anchor">Контакты</a></div>
            <div class="d"><a href="#email_us" class="anchor">Оформить заявку</a></div>
        </nav>
        <nav class="nav">
            <ul>
                <li class="current"><p>Меню</p></li>
                <li><a href="#about_us" class="anchor">О нас</a></li>
                <li><a href="#services" class="anchor">Услуги</a></li>
                <li><a href="#prices" class="anchor">Прайс</a></li>
                <li><a href="#doctors" class="anchor">Наши доктора</a></li>
                <li><a href="#feedbacks" class="anchor">Отзывы</a></li>
                <li><a href="#contacts" class="anchor">Контакты</a></li>
                <li><a href="#email_us" class="anchor">Оформить заявку</a></li>
            </ul>
        </nav>
    }
</div>
